* {
    padding: 0;
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background: #000;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    position: relative;
    list-style: none;
    letter-spacing: 1px;
    margin-right: 20px;
    border-radius: 10%;
    padding: 10px;
    /* 设置背景颜色 */
    background-image: linear-gradient(90deg, #c6ffdd, #fbd786, #f7797d, #c6ffdd);
    background-size: 400%;
    
  }
  a {
    font-size: 20px;
    text-decoration: none;
  }
  
  li:hover::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-image: linear-gradient(90deg, #c6ffdd, #fbd786, #f7797d, #c6ffdd);
    background-size: 400%;
    animation: show 4s linear infinite;
    filter: blur(20px);
  }
  a::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    right: 0;
    top: 0;
    border: 3px solid coral;
    border-width: 3px 3px 0 0;
    opacity: 0;
  }
  a::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    left: 0;
    bottom: 0;
    border: 3px solid coral;
    border-width: 0 0 3px 3px;
    opacity: 0;
  }
  a:hover::before {
    opacity: 1;
  }
  a:hover:after {
    opacity: 1;
  }
  @keyframes show {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }