* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 微软雅黑;
}

#box {
    border: 1px solid #ccc;
    width: 700px;
    padding: 25px 25px 0;
    margin: 10px auto;
    background-color: #f9fbf9;
}

h1 {
    font-family: 黑体;
    font-size: 30px;
    margin: 25px 0 15px;
    text-align: center;
}

h1+p {
    font-size: 12px;
    color: gray;
    line-height: 1.5em;
    border: 1px solid #ccc;
    padding: 7px;
    background-color: #ffffff;
    text-indent: 0;
}

/* 设置第一段第一个字节*/
h1+p:first-letter {
    font-size: 30px;
    font-weight: bold;
    float: left;
    clear: none;
}

.review h2 {
    margin: 0;
    font-size: 16px;
}

ul li {
    list-style-type: none;
}

/* 属性选择器设置包含"#"字符的a标签的属性 */
a[href^="#"] {
    line-height: 1.5em;
    font-size: 12px;
    color: blue;
    text-decoration: none;
}

h3,
p {
    margin: 1em 0;
    font-size: 15px;
    text-indent: 2em;
}

h3 {
    font-style: italic;
}